@import "node_modules/bootstrap/scss/bootstrap.scss";

body {
  background-color: #0f0e17;
}

.wcolor {
  color: #fffffe;
}

.ocolor {
  background-color: #ff8906;
}

.gcolor {
  color: #a7a9be;
}

.scolor {
  color: #f25f4c;
}

.pcolor {
  color: #e53170;
}
