/* * {
    padding: 0;
    margin: 0;
    border: 0;
} */

.carousel .carousel-inner {
  height: 700px;
}
.carousel-inner .carousel-item img {
  min-height: 200px;
  /* prevent it from stretch in screen size < than 768px */
  object-fit: cover;
  max-height: 550px;
}

@media (max-width: 768px) {
  .carousel .carousel-inner {
    /* prevent it from adding a white space between carousel and container elements */
    height: auto;
  }
}
.carousel .carousel-item {
  max-height: 550px;
}

.bg-main {
  background-color: #0f0e17;
}

.ondas {
  position: block;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}